<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-success" *ngIf="successMsg">
      <p style="color: green; text-align: center">{{ successMsg }}</p>
    </div>

    <app-alert
      [massage]="error"
      *ngIf="error"
      (close)="onCloseModal()"
    ></app-alert>

    <!-- <div class="alert alert-danger" *ngIf="error">
      <p style="color: red; text-align: center">{{ error }}</p>
    </div> -->

    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
      </div>

      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-info" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
